.counter_0{
    color: black;
}

.counter_1{
    color: red;
}

.counter_2{
    color: orange;
}

.counter_3{
    color: yellow;
}

.counter_4{
    color: green;
}

.images{
    width: 300px;
    height: 300px;
}